.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
     gap: 5px;
}
.gallery_item--4{
 grid-column: ;
}